@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Urbanist%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-3gTs3a-ckW-i: 16px;
  --plasmic-token-h-2: var(--token-3gTs3a-ckW-i);
  --token-4xrBXqQbJ9Qk: #2a2b37;
  --plasmic-token-neutral-900: var(--token-4xrBXqQbJ9Qk);
  --token-1j5preqXJE85: #383848;
  --plasmic-token-neutral-800: var(--token-1j5preqXJE85);
  --token-9OR5XJCXLggH: #48485c;
  --plasmic-token-neutral-700: var(--token-9OR5XJCXLggH);
  --token-fCFnfIk8xnQp: #5c5d76;
  --plasmic-token-neutral-600: var(--token-fCFnfIk8xnQp);
  --token-xcdG3Lx9jl7X: #656682;
  --plasmic-token-neutral-500: var(--token-xcdG3Lx9jl7X);
  --token-LW3AuLJU7VOe: #84859b;
  --plasmic-token-neutral-400: var(--token-LW3AuLJU7VOe);
  --token-Kd_rnf23pPWY: #9898ab;
  --plasmic-token-neutral-300: var(--token-Kd_rnf23pPWY);
  --token-XjjfiIRkl644: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-XjjfiIRkl644);
  --token-O0vRt4sNMDry: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-O0vRt4sNMDry);
  --token-YUfRg4_BbTOZ: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-YUfRg4_BbTOZ);
  --token-QzOFMzfaPfUY: 14px;
  --plasmic-token-body-small: var(--token-QzOFMzfaPfUY);
  --token-lfCnn38yZ9ZL: 20px;
  --plasmic-token-body-small-2: var(--token-lfCnn38yZ9ZL);
  --token-Bvl33zwkjmX7: #01471e;
  --plasmic-token-success-text: var(--token-Bvl33zwkjmX7);
  --token-Uy4B42RoJh3k: #dffbea;
  --plasmic-token-success-bg: var(--token-Uy4B42RoJh3k);
  --token-mxammYaKDSTu: #aff5cb;
  --plasmic-token-success-200: var(--token-mxammYaKDSTu);
  --token--tHH2QTL2ZpJ: #87efb1;
  --plasmic-token-success-300: var(--token--tHH2QTL2ZpJ);
  --token-Q9n37Zean0bw: #5fea97;
  --plasmic-token-success-400: var(--token-Q9n37Zean0bw);
  --token-qOlc4jAoAQFP: #37e57d;
  --plasmic-token-success-500: var(--token-qOlc4jAoAQFP);
  --token-fb3CKQDti6fy: #24bf63;
  --plasmic-token-success-600: var(--token-fb3CKQDti6fy);
  --token-KP5AhzMz-YWf: #159649;
  --plasmic-token-success-700: var(--token-KP5AhzMz-YWf);
  --token-OolcnU9MOvPD: #096e32;
  --plasmic-token-success-800: var(--token-OolcnU9MOvPD);
  --token-F1AKisT1rE98: #d7faf8;
  --plasmic-token-secondary-100: var(--token-F1AKisT1rE98);
  --token-foESfZz5OCq-: #aff5f0;
  --plasmic-token-secondary-200: var(--token-foESfZz5OCq-);
  --token-TlVJsBQRPMv6: #87efe8;
  --plasmic-token-secondary-300: var(--token-TlVJsBQRPMv6);
  --token-5fyfk3nmtYBu: #5feae1;
  --plasmic-token-secondary-400: var(--token-5fyfk3nmtYBu);
  --token-83_bsyDF7Stm: #37e5db;
  --plasmic-token-secondary-500: var(--token-83_bsyDF7Stm);
  --token-mKwXYOsAC7Da: #24bfb5;
  --plasmic-token-secondary-600: var(--token-mKwXYOsAC7Da);
  --token-GsakPL9qIasE: #15968e;
  --plasmic-token-secondary-700: var(--token-GsakPL9qIasE);
  --token-KIPSO-ul6hMH: #096e67;
  --plasmic-token-secondary-800: var(--token-KIPSO-ul6hMH);
  --token-sSMunS1ATRqP: #014743;
  --plasmic-token-secondary-900: var(--token-sSMunS1ATRqP);
  --token-shfcnzZ2f0MR: #d8d8fa;
  --plasmic-token-primary-100: var(--token-shfcnzZ2f0MR);
  --token-yVvUKDkk5wuC: #b0b1f4;
  --plasmic-token-primary-200: var(--token-yVvUKDkk5wuC);
  --token-kwdNHG_IQeif: #ff6f1f;
  --plasmic-token-primary-300: var(--token-kwdNHG_IQeif);
  --token-52Ep6eWc1KoW: #ff6f1f;
  --plasmic-token-primary-400: var(--token-52Ep6eWc1KoW);
  --token-esaZ3M4Y5Yc2: #ff6f1f;
  --plasmic-token-primary-500: var(--token-esaZ3M4Y5Yc2);
  --token-noZzKcwqGf34: #ff6f1f;
  --plasmic-token-primary-600: var(--token-noZzKcwqGf34);
  --token-gecPtET9kXmg: #141696;
  --plasmic-token-primary-700: var(--token-gecPtET9kXmg);
  --token-py_0Pq7JA4Jr: #08096e;
  --plasmic-token-primary-800: var(--token-py_0Pq7JA4Jr);
  --token-4C-E-155-3JK: #010347;
  --plasmic-token-primary-900: var(--token-4C-E-155-3JK);
  --token-xr-v_iX3ApyL: #f2f3fd;
  --plasmic-token-primary-050: var(--token-xr-v_iX3ApyL);
  --token-pgMoT46FYB3d: #faf6d7;
  --plasmic-token-warning-100: var(--token-pgMoT46FYB3d);
  --token-YAK-QuM2Ytfp: #f5eeaf;
  --plasmic-token-warning-200: var(--token-YAK-QuM2Ytfp);
  --token-eARJwfvcp4W9: #efe587;
  --plasmic-token-warning-300: var(--token-eARJwfvcp4W9);
  --token-3W0wVDAnMPpf: #eadd5f;
  --plasmic-token-warning-400: var(--token-3W0wVDAnMPpf);
  --token-W5EdrbQ-t-Gh: #e5d437;
  --plasmic-token-warning-500: var(--token-W5EdrbQ-t-Gh);
  --token-xKwcipCPyrAj: #bfb024;
  --plasmic-token-warning-600: var(--token-xKwcipCPyrAj);
  --token-nQgTPs9faRwv: #998c15;
  --plasmic-token-warning-700: var(--token-nQgTPs9faRwv);
  --token-ABv_H3w0lxta: #6e6408;
  --plasmic-token-warning-800: var(--token-ABv_H3w0lxta);
  --token-nPWwWwTrH4ds: #383302;
  --plasmic-token-warning-900: var(--token-nPWwWwTrH4ds);
  --token-sWB6UfznI2Xo: #fad7d7;
  --plasmic-token-danger-100: var(--token-sWB6UfznI2Xo);
  --token-5eNJX_2Nsg3z: #f18787;
  --plasmic-token-danger-300: var(--token-5eNJX_2Nsg3z);
  --token-fQb3F1ZxTQ5c: #f6afaf;
  --plasmic-token-danger-200: var(--token-fQb3F1ZxTQ5c);
  --token-DLrEa82fPP_S: #ed6060;
  --plasmic-token-danger-400: var(--token-DLrEa82fPP_S);
  --token-kgTAlDj-S3TL: #e83838;
  --plasmic-token-danger-500: var(--token-kgTAlDj-S3TL);
  --token-Cwoh-k0j2tRL: #c22525;
  --plasmic-token-danger-600: var(--token-Cwoh-k0j2tRL);
  --token-K2TIK8hz_uEt: #9c1616;
  --plasmic-token-danger-700: var(--token-K2TIK8hz_uEt);
  --token-4syE3nfUFnW5: #6b0707;
  --plasmic-token-danger-800: var(--token-4syE3nfUFnW5);
  --token-GUq1N12qNoA0: #360202;
  --plasmic-token-danger-900: var(--token-GUq1N12qNoA0);
  --token-ijP-vyhHjqbM: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-ijP-vyhHjqbM);
  --token-oc6QWYtHvNmJ: 20px;
  --plasmic-token-block-spacing: var(--token-oc6QWYtHvNmJ);
  --token-196uHX8ghvJQ: 8px;
  --plasmic-token-corner-radius: var(--token-196uHX8ghvJQ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-VusA4sqPwqLb_font-family: "Inter", sans-serif;
  --mixin-VusA4sqPwqLb_font-size: 14px;
  --mixin-VusA4sqPwqLb_font-weight: 400;
  --mixin-VusA4sqPwqLb_font-style: normal;
  --mixin-VusA4sqPwqLb_color: var(--token-Kd_rnf23pPWY);
  --mixin-VusA4sqPwqLb_text-align: left;
  --mixin-VusA4sqPwqLb_text-transform: none;
  --mixin-VusA4sqPwqLb_line-height: 21px;
  --mixin-VusA4sqPwqLb_letter-spacing: -0.6%;
  --mixin-VusA4sqPwqLb_white-space: pre-wrap;
  --mixin-VusA4sqPwqLb_user-select: text;
  --mixin-VusA4sqPwqLb_text-decoration-line: none;
  --mixin-VusA4sqPwqLb_text-overflow: clip;
  --mixin-c1gR7ZpaaOE3_color: var(--token-4xrBXqQbJ9Qk);
  --mixin-c1gR7ZpaaOE3_font-weight: 600;
  --mixin-c1gR7ZpaaOE3_font-size: 26px;
  --mixin-c1gR7ZpaaOE3_line-height: 32px;
  --mixin-c1gR7ZpaaOE3_letter-spacing: -1%;
  --mixin-c1gR7ZpaaOE3_white-space: pre-wrap;
  --mixin-FtHP5zB9sEF8_color: var(--token-4xrBXqQbJ9Qk);
  --mixin-FtHP5zB9sEF8_font-size: 23px;
  --mixin-FtHP5zB9sEF8_font-weight: 700;
  --mixin-FtHP5zB9sEF8_line-height: 28px;
  --mixin-FtHP5zB9sEF8_font-family: "Inter", sans-serif;
  --mixin-FtHP5zB9sEF8_letter-spacing: -1%;
  --mixin-FtHP5zB9sEF8_white-space: pre-wrap;
  --mixin-TBq7Pw8iBJDF_color: #0070f3;
  --mixin-TBq7Pw8iBJDF_white-space: pre-wrap;
  --mixin-z_AGJErxjpkq_color: var(--token-4xrBXqQbJ9Qk);
  --mixin-z_AGJErxjpkq_font-size: 20px;
  --mixin-z_AGJErxjpkq_font-weight: 700;
  --mixin-z_AGJErxjpkq_line-height: 24px;
  --mixin-z_AGJErxjpkq_letter-spacing: -1%;
  --mixin-z_AGJErxjpkq_font-family: "Inter", sans-serif;
  --mixin-z_AGJErxjpkq_white-space: pre-wrap;
  --mixin-VMZrAbnfCOBS_color: var(--token-4xrBXqQbJ9Qk);
  --mixin-VMZrAbnfCOBS_font-size: 18px;
  --mixin-VMZrAbnfCOBS_font-weight: 700;
  --mixin-VMZrAbnfCOBS_line-height: 24px;
  --mixin-VMZrAbnfCOBS_letter-spacing: -1%;
  --mixin-VMZrAbnfCOBS_font-family: "Inter", sans-serif;
  --mixin-VMZrAbnfCOBS_white-space: pre-wrap;
  --mixin-qhdzKs44vaKR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-qhdzKs44vaKR_border-bottom-color: #dddddd;
  --mixin-qhdzKs44vaKR_border-bottom-style: solid;
  --mixin-qhdzKs44vaKR_border-bottom-width: 1px;
  --mixin-qhdzKs44vaKR_border-left-color: #dddddd;
  --mixin-qhdzKs44vaKR_border-left-style: solid;
  --mixin-qhdzKs44vaKR_border-left-width: 1px;
  --mixin-qhdzKs44vaKR_border-right-color: #dddddd;
  --mixin-qhdzKs44vaKR_border-right-style: solid;
  --mixin-qhdzKs44vaKR_border-right-width: 1px;
  --mixin-qhdzKs44vaKR_border-top-color: #dddddd;
  --mixin-qhdzKs44vaKR_border-top-style: solid;
  --mixin-qhdzKs44vaKR_border-top-width: 1px;
  --mixin-qhdzKs44vaKR_border-bottom-left-radius: 3px;
  --mixin-qhdzKs44vaKR_border-bottom-right-radius: 3px;
  --mixin-qhdzKs44vaKR_border-top-left-radius: 3px;
  --mixin-qhdzKs44vaKR_border-top-right-radius: 3px;
  --mixin-qhdzKs44vaKR_font-family: "Inconsolata";
  --mixin-qhdzKs44vaKR_padding-bottom: 1px;
  --mixin-qhdzKs44vaKR_padding-left: 4px;
  --mixin-qhdzKs44vaKR_padding-right: 4px;
  --mixin-qhdzKs44vaKR_padding-top: 1px;
  --mixin-qhdzKs44vaKR_white-space: pre-wrap;
  --mixin-mdcSrNKVAHSN_border-left-color: #dddddd;
  --mixin-mdcSrNKVAHSN_border-left-style: solid;
  --mixin-mdcSrNKVAHSN_border-left-width: 3px;
  --mixin-mdcSrNKVAHSN_color: #888888;
  --mixin-mdcSrNKVAHSN_padding-left: 10px;
  --mixin-mdcSrNKVAHSN_white-space: pre-wrap;
  --mixin-Ic3p0SjdgBMc_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Ic3p0SjdgBMc_border-bottom-color: #dddddd;
  --mixin-Ic3p0SjdgBMc_border-bottom-style: solid;
  --mixin-Ic3p0SjdgBMc_border-bottom-width: 1px;
  --mixin-Ic3p0SjdgBMc_border-left-color: #dddddd;
  --mixin-Ic3p0SjdgBMc_border-left-style: solid;
  --mixin-Ic3p0SjdgBMc_border-left-width: 1px;
  --mixin-Ic3p0SjdgBMc_border-right-color: #dddddd;
  --mixin-Ic3p0SjdgBMc_border-right-style: solid;
  --mixin-Ic3p0SjdgBMc_border-right-width: 1px;
  --mixin-Ic3p0SjdgBMc_border-top-color: #dddddd;
  --mixin-Ic3p0SjdgBMc_border-top-style: solid;
  --mixin-Ic3p0SjdgBMc_border-top-width: 1px;
  --mixin-Ic3p0SjdgBMc_border-bottom-left-radius: 3px;
  --mixin-Ic3p0SjdgBMc_border-bottom-right-radius: 3px;
  --mixin-Ic3p0SjdgBMc_border-top-left-radius: 3px;
  --mixin-Ic3p0SjdgBMc_border-top-right-radius: 3px;
  --mixin-Ic3p0SjdgBMc_font-family: "Inconsolata";
  --mixin-Ic3p0SjdgBMc_padding-bottom: 3px;
  --mixin-Ic3p0SjdgBMc_padding-left: 6px;
  --mixin-Ic3p0SjdgBMc_padding-right: 6px;
  --mixin-Ic3p0SjdgBMc_padding-top: 3px;
  --mixin-Ic3p0SjdgBMc_white-space: pre-wrap;
  --mixin-PQ-4LLA8Of5C_display: flex;
  --mixin-PQ-4LLA8Of5C_flex-direction: column;
  --mixin-PQ-4LLA8Of5C_align-items: stretch;
  --mixin-PQ-4LLA8Of5C_justify-content: flex-start;
  --mixin-PQ-4LLA8Of5C_list-style-position: outside;
  --mixin-PQ-4LLA8Of5C_padding-left: 40px;
  --mixin-PQ-4LLA8Of5C_position: relative;
  --mixin-PQ-4LLA8Of5C_list-style-type: disc;
  --mixin-PQ-4LLA8Of5C_white-space: pre-wrap;
  --mixin-K2hSDl1whGD8_display: flex;
  --mixin-K2hSDl1whGD8_flex-direction: column;
  --mixin-K2hSDl1whGD8_align-items: stretch;
  --mixin-K2hSDl1whGD8_justify-content: flex-start;
  --mixin-K2hSDl1whGD8_list-style-position: outside;
  --mixin-K2hSDl1whGD8_padding-left: 40px;
  --mixin-K2hSDl1whGD8_position: relative;
  --mixin-K2hSDl1whGD8_list-style-type: decimal;
  --mixin-K2hSDl1whGD8_white-space: pre-wrap;
  --mixin-rXzrN27jKZT5_color: var(--token-1j5preqXJE85);
  --mixin-rXzrN27jKZT5_font-size: 16px;
  --mixin-rXzrN27jKZT5_font-weight: 600;
  --mixin-rXzrN27jKZT5_line-height: 20px;
  --mixin-rXzrN27jKZT5_letter-spacing: -1%;
  --mixin-rXzrN27jKZT5_font-family: "Inter", sans-serif;
  --mixin-rXzrN27jKZT5_white-space: pre-wrap;
  --mixin-jmFgzDe74Obd_color: var(--token-4xrBXqQbJ9Qk);
  --mixin-jmFgzDe74Obd_font-size: 14px;
  --mixin-jmFgzDe74Obd_font-weight: 600;
  --mixin-jmFgzDe74Obd_line-height: 20px;
  --mixin-jmFgzDe74Obd_letter-spacing: 1%;
  --mixin-jmFgzDe74Obd_font-family: "Inter", sans-serif;
  --mixin-jmFgzDe74Obd_white-space: pre-wrap;
  --mixin-Wr35QaIMhQl1_color: #3291ff;
  --mixin-Wr35QaIMhQl1_white-space: pre-wrap;
  --mixin-yL8DR2gP5fmi_white-space: pre-wrap;
  --mixin-aURs-axJ61Fe_color: var(--token-9OR5XJCXLggH);
  --mixin-aURs-axJ61Fe_font-family: "Inter", sans-serif;
  --mixin-aURs-axJ61Fe_font-weight: 500;
  --mixin-aURs-axJ61Fe_font-size: 16px;
  --mixin-aURs-axJ61Fe_line-height: 24px;
  --mixin-aURs-axJ61Fe_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-qYns7SARqpJV_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-qYns7SARqpJV_white-space);
  --mixin-AwAvEfhmXjlN_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-AwAvEfhmXjlN_white-space);
  --mixin-EBKT53_RQg0U_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-EBKT53_RQg0U_box-shadow);
  --mixin-EBKT53_RQg0U_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-EBKT53_RQg0U_white-space
  );
  --mixin-_eC48EE0S5UW_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-_eC48EE0S5UW_white-space);
  --mixin-Og7kp5qApYmt_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-Og7kp5qApYmt_white-space);
  --mixin-XjmKfiyLMbv9_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-XjmKfiyLMbv9_box-shadow
  );
  --mixin-XjmKfiyLMbv9_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-XjmKfiyLMbv9_white-space
  );
  --mixin-1NPryiZWNMPr_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-1NPryiZWNMPr_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-VusA4sqPwqLb_font-family);
  font-size: var(--mixin-VusA4sqPwqLb_font-size);
  font-weight: var(--mixin-VusA4sqPwqLb_font-weight);
  font-style: var(--mixin-VusA4sqPwqLb_font-style);
  color: var(--mixin-VusA4sqPwqLb_color);
  text-align: var(--mixin-VusA4sqPwqLb_text-align);
  text-transform: var(--mixin-VusA4sqPwqLb_text-transform);
  line-height: var(--mixin-VusA4sqPwqLb_line-height);
  letter-spacing: var(--mixin-VusA4sqPwqLb_letter-spacing);
  white-space: var(--mixin-VusA4sqPwqLb_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-c1gR7ZpaaOE3_color);
  font-weight: var(--mixin-c1gR7ZpaaOE3_font-weight);
  font-size: var(--mixin-c1gR7ZpaaOE3_font-size);
  line-height: var(--mixin-c1gR7ZpaaOE3_line-height);
  letter-spacing: var(--mixin-c1gR7ZpaaOE3_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-FtHP5zB9sEF8_color);
  font-size: var(--mixin-FtHP5zB9sEF8_font-size);
  font-weight: var(--mixin-FtHP5zB9sEF8_font-weight);
  line-height: var(--mixin-FtHP5zB9sEF8_line-height);
  font-family: var(--mixin-FtHP5zB9sEF8_font-family);
  letter-spacing: var(--mixin-FtHP5zB9sEF8_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-TBq7Pw8iBJDF_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-z_AGJErxjpkq_color);
  font-size: var(--mixin-z_AGJErxjpkq_font-size);
  font-weight: var(--mixin-z_AGJErxjpkq_font-weight);
  line-height: var(--mixin-z_AGJErxjpkq_line-height);
  letter-spacing: var(--mixin-z_AGJErxjpkq_letter-spacing);
  font-family: var(--mixin-z_AGJErxjpkq_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-VMZrAbnfCOBS_color);
  font-size: var(--mixin-VMZrAbnfCOBS_font-size);
  font-weight: var(--mixin-VMZrAbnfCOBS_font-weight);
  line-height: var(--mixin-VMZrAbnfCOBS_line-height);
  letter-spacing: var(--mixin-VMZrAbnfCOBS_letter-spacing);
  font-family: var(--mixin-VMZrAbnfCOBS_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-qhdzKs44vaKR_font-family);
  border-radius: var(--mixin-qhdzKs44vaKR_border-top-left-radius)
    var(--mixin-qhdzKs44vaKR_border-top-right-radius)
    var(--mixin-qhdzKs44vaKR_border-bottom-right-radius)
    var(--mixin-qhdzKs44vaKR_border-bottom-left-radius);
  padding: var(--mixin-qhdzKs44vaKR_padding-top)
    var(--mixin-qhdzKs44vaKR_padding-right)
    var(--mixin-qhdzKs44vaKR_padding-bottom)
    var(--mixin-qhdzKs44vaKR_padding-left);
  border-top: var(--mixin-qhdzKs44vaKR_border-top-width)
    var(--mixin-qhdzKs44vaKR_border-top-style)
    var(--mixin-qhdzKs44vaKR_border-top-color);
  border-right: var(--mixin-qhdzKs44vaKR_border-right-width)
    var(--mixin-qhdzKs44vaKR_border-right-style)
    var(--mixin-qhdzKs44vaKR_border-right-color);
  border-bottom: var(--mixin-qhdzKs44vaKR_border-bottom-width)
    var(--mixin-qhdzKs44vaKR_border-bottom-style)
    var(--mixin-qhdzKs44vaKR_border-bottom-color);
  border-left: var(--mixin-qhdzKs44vaKR_border-left-width)
    var(--mixin-qhdzKs44vaKR_border-left-style)
    var(--mixin-qhdzKs44vaKR_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-mdcSrNKVAHSN_color);
  padding-left: var(--mixin-mdcSrNKVAHSN_padding-left);
  border-left: var(--mixin-mdcSrNKVAHSN_border-left-width)
    var(--mixin-mdcSrNKVAHSN_border-left-style)
    var(--mixin-mdcSrNKVAHSN_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Ic3p0SjdgBMc_font-family);
  border-radius: var(--mixin-Ic3p0SjdgBMc_border-top-left-radius)
    var(--mixin-Ic3p0SjdgBMc_border-top-right-radius)
    var(--mixin-Ic3p0SjdgBMc_border-bottom-right-radius)
    var(--mixin-Ic3p0SjdgBMc_border-bottom-left-radius);
  padding: var(--mixin-Ic3p0SjdgBMc_padding-top)
    var(--mixin-Ic3p0SjdgBMc_padding-right)
    var(--mixin-Ic3p0SjdgBMc_padding-bottom)
    var(--mixin-Ic3p0SjdgBMc_padding-left);
  border-top: var(--mixin-Ic3p0SjdgBMc_border-top-width)
    var(--mixin-Ic3p0SjdgBMc_border-top-style)
    var(--mixin-Ic3p0SjdgBMc_border-top-color);
  border-right: var(--mixin-Ic3p0SjdgBMc_border-right-width)
    var(--mixin-Ic3p0SjdgBMc_border-right-style)
    var(--mixin-Ic3p0SjdgBMc_border-right-color);
  border-bottom: var(--mixin-Ic3p0SjdgBMc_border-bottom-width)
    var(--mixin-Ic3p0SjdgBMc_border-bottom-style)
    var(--mixin-Ic3p0SjdgBMc_border-bottom-color);
  border-left: var(--mixin-Ic3p0SjdgBMc_border-left-width)
    var(--mixin-Ic3p0SjdgBMc_border-left-style)
    var(--mixin-Ic3p0SjdgBMc_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-PQ-4LLA8Of5C_display);
  flex-direction: var(--mixin-PQ-4LLA8Of5C_flex-direction);
  align-items: var(--mixin-PQ-4LLA8Of5C_align-items);
  justify-content: var(--mixin-PQ-4LLA8Of5C_justify-content);
  list-style-position: var(--mixin-PQ-4LLA8Of5C_list-style-position);
  padding-left: var(--mixin-PQ-4LLA8Of5C_padding-left);
  position: var(--mixin-PQ-4LLA8Of5C_position);
  list-style-type: var(--mixin-PQ-4LLA8Of5C_list-style-type);
  flex-column-gap: var(--mixin-PQ-4LLA8Of5C_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-K2hSDl1whGD8_display);
  flex-direction: var(--mixin-K2hSDl1whGD8_flex-direction);
  align-items: var(--mixin-K2hSDl1whGD8_align-items);
  justify-content: var(--mixin-K2hSDl1whGD8_justify-content);
  list-style-position: var(--mixin-K2hSDl1whGD8_list-style-position);
  padding-left: var(--mixin-K2hSDl1whGD8_padding-left);
  position: var(--mixin-K2hSDl1whGD8_position);
  list-style-type: var(--mixin-K2hSDl1whGD8_list-style-type);
  flex-column-gap: var(--mixin-K2hSDl1whGD8_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-rXzrN27jKZT5_color);
  font-size: var(--mixin-rXzrN27jKZT5_font-size);
  font-weight: var(--mixin-rXzrN27jKZT5_font-weight);
  line-height: var(--mixin-rXzrN27jKZT5_line-height);
  letter-spacing: var(--mixin-rXzrN27jKZT5_letter-spacing);
  font-family: var(--mixin-rXzrN27jKZT5_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-jmFgzDe74Obd_color);
  font-size: var(--mixin-jmFgzDe74Obd_font-size);
  font-weight: var(--mixin-jmFgzDe74Obd_font-weight);
  line-height: var(--mixin-jmFgzDe74Obd_line-height);
  letter-spacing: var(--mixin-jmFgzDe74Obd_letter-spacing);
  font-family: var(--mixin-jmFgzDe74Obd_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-Wr35QaIMhQl1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-aURs-axJ61Fe_color);
  font-family: var(--mixin-aURs-axJ61Fe_font-family);
  font-weight: var(--mixin-aURs-axJ61Fe_font-weight);
  font-size: var(--mixin-aURs-axJ61Fe_font-size);
  line-height: var(--mixin-aURs-axJ61Fe_line-height);
}
