.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.freeBox__ixic {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f6;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 10px;
}
.freeBox__ixic > * {
  grid-column: 4;
}
.freeBox___3UW2D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 80%;
  max-width: 99%;
  background: #fdfdfd;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0px 10px;
}
.h1__vyHjN {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  margin: 0px 0px 0px 20px;
}
.freeBox__hPFz {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 20px;
  min-width: 0;
  padding: 0px;
}
.button__fjSf7:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #000000;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 20px;
}
.text__jqFUl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button__p5I5U:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  color: #000000;
  margin-left: 0px;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
}
.text__nEm3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.freeBox__fy2Z {
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
.drawerNotifications:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 37px;
  min-width: 0;
  min-height: 0;
}
.button__fwW8M:global(.__wab_instance) {
  width: 20px;
  height: 39px;
}
.svg__xCcDq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 35px;
  width: 33px;
}
.svg__oe5JR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 35px;
  width: 33px;
  color: var(--token-Bo2_tT25lwh4);
}
.svg___7YzqA {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__aenLs {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wxzIy {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__iDi09 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__iDi09 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iDi09 > :global(.__wab_flex-container) > *,
.freeBox__iDi09 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iDi09 > :global(.__wab_flex-container) > picture > img,
.freeBox__iDi09
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.card:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 342px;
}
.svg__ciXbS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 7px;
  margin-top: 0px;
  height: 1em;
}
.freeBox__hbs5O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
.text__we6P {
  font-size: 10px;
  white-space: pre;
  height: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___0OzgR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-left: 53px;
  min-width: 0;
  padding: 0px;
}
.button__yl8WS:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dX3YG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.svg__pczfj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 12px;
  margin-left: 3px;
  cursor: pointer;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__y75Rz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__oesXj {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.button__pVpRq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 15px;
  width: 86px;
  flex-shrink: 0;
}
.text__lz7Ao {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.button___2WQ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  margin-right: 15px;
  width: 74px;
  flex-shrink: 0;
}
.text___19YYv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.drawerSupport:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 40px;
  min-width: 0;
  min-height: 0;
}
.button__u92J:global(.__wab_instance) {
  width: 20px;
  height: 41px;
}
.svg__rvGah {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 41px;
  height: 31px;
}
.svg___9RKbZ {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__m2W7Y {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__rUaIz {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.freeBox__sS7Xk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__sS7Xk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sS7Xk > :global(.__wab_flex-container) > *,
.freeBox__sS7Xk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sS7Xk > :global(.__wab_flex-container) > picture > img,
.freeBox__sS7Xk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__jrcPv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__leiG9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  width: 23px;
  height: 22px;
  flex-shrink: 0;
}
.link__oyj5Q {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox___9ZGa6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__df1Q4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  width: 23px;
  height: 24px;
  flex-shrink: 0;
}
.link__rgApp {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.freeBox__iV3DR {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__mnomF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 5px;
  width: 23px;
  height: 25px;
  flex-shrink: 0;
}
.link__nEgaN {
  color: #000000;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__oVDu6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 0px 0px 5px;
  margin: 0px;
}
.freeBox___0WXo {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  border-radius: 5px;
  padding: 8px 8px 8px 0px;
}
.freeBox__hx8P0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 900px;
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 10px;
  background: var(--token-jgohepLVeKvh);
  margin-bottom: 0px;
  min-width: 0;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__i5U6X {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.h1__bS53F {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  min-width: 0;
}
.button__kQhN4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 145px;
  flex-shrink: 0;
}
.freeBox___1Hc9 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.svg__lny3J {
  object-fit: cover;
  max-width: 100%;
  margin-top: 5px;
  margin-right: 3px;
  height: 1em;
}
.text___9KEcs {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button___6Wlb:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-right: 22px;
}
.text__vzivv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__tiTjd {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
.freeBox__uyfpf {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
._switch:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__quxte {
  width: auto;
  height: auto;
  max-width: 100%;
  margin-left: 20px;
  white-space: pre;
}
.text__bvacG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  font-size: 10px;
  margin-right: 0px;
  white-space: pre;
  margin-left: 20px;
  text-align: left;
  min-width: 0;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__z0OQs {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 10px;
}
.freeBox__wRknB {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.text__jvMiG {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  margin-top: 3px;
  width: 220px;
}
.column__mtGle {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__dSxOr {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.text__eAVzC {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.freeBox__r0Hov {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px;
}
.text___6Uytq {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.select2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 113px;
}
.freeBox__kzSi5 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 10px;
  min-width: 0;
  padding: 0px;
}
.text__eYHhO {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__yg2Z2 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.select4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  margin-right: 8px;
  flex-shrink: 0;
}
.select5:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  margin-right: 8px;
  flex-shrink: 0;
}
.text__m1UIg {
  padding-left: 0px;
}
.select6:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: 100px;
  flex-shrink: 0;
}
.freeBox___90Vlx {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 900px;
  max-width: 100%;
  background: var(--token-zy6xhYnWF8Y7);
  min-width: 0;
  border-radius: 5px;
  padding: 8px 10px 0px;
}
